{% extends "base.html" %}

{% load url from future %}

{% block content %}
	<div id="loading">
		<h1>Loading...</h1>
	</div>
	<div id="description" style="display: none;">
		<h1><span id="name">Name</span> last seen at <span id="location">Location</span> @ <span id="time">Time</span></h1>
	</div>
	<div id="demoMap" style="height:100%"></div>
	<div class="whereami_url" style="display: none" data-url="{% url 'whereami' %}"></div>
	<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://s3.amazonaws.com/whereami.doismellburning.co.uk/jquery.dateFormat-1.0.js"></script>
	<script>
		$(document).ready(function() {
			var url = $(".whereami_url").data("url");
			$.getJSON(url, function(data) {
				map = new OpenLayers.Map("demoMap");
				map.addLayer(new OpenLayers.Layer.OSM());

				// http://wiki.openstreetmap.org/wiki/OpenLayers_Marker

				var location = data["venue"]["location"];
				var lonLat = new OpenLayers.LonLat(location["lng"], location["lat"]);

				// Cargoculted from above link - this seems a bit lame?
				lonLat = lonLat.transform(
					new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
					map.getProjectionObject() // to Spherical Mercator Projection
				);

				var zoom = 16;
				var markers = new OpenLayers.Layer.Markers("Markers");
				map.addLayer(markers);
				var size = new OpenLayers.Size(75,75);
				var icon = new OpenLayers.Icon(data["user"]["photo"], size);
				markers.addMarker(new OpenLayers.Marker(lonLat, icon));
				map.setCenter (lonLat, zoom);

				$("#name").text(data["user"]["firstName"]);
				$("#location").text(data["venue"]["name"]);
				$("#time").text($.format.date(data["createdAt"] * 1000, 'HH:mm:ss on ddd dd/MM/yyyy'));
				$("#loading").hide();
				$("#description").show();
			});
		});
	</script>
{% endblock %}
